<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Downloader</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <centre></centre>
    <div class="container">
        <header>
            <h1>YouTube Video Downloader</h1>
        </header>
        <main>
            <form id="downloader-form" method="post">
                {% csrf_token %}
                <label for="video-url">Enter YouTube Video URL:</label>
                <input type="text" id="video-url" name="video-url" placeholder="https://www.youtube.com/watch?v=example" required>
                <button type="submit">Download</button>
            </form>
        </main>
        {{message}}
        <footer>
            <p>&copy; 2024 Suresh. All rights reserved.</p>
        </footer>
    </div>
</centre>
</body>
</html>